<!--//!===================/Modal New Device/===================!// -->
<div class="modal fade" data-backdrop="static" data-easein="whirlIn" id="modalNewDevice" tabindex="-1" role="dialog"
    aria-labelledby="mdTitleNewDevice" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <!-- ? trigger this form in preload.js app ? -->
        <form id="formDevice" class="modal-content">
            <div>
                <h1 class="modal-title" id="mdTitleNewDevice"><i class="badge badge-pill badge-info">New Device
                        Infomation</i></h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Details</legend>
                        <div class="row align-items-center input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Device Name</span>
                            </div>
                            <input required class="form-control" type="text" name="deviceName" aria-label="deviceName"
                                aria-describedby="addon-wrapping">
                        </div>
                        <div class="row align-items-center input-group mb-3">
                            <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a
                                webcam
                                enabled)</div>
                            <canvas id="canvas" hidden></canvas>
                            <div id="output" hidden>
                                <div id="outputMessage">No QR code detected.</div>
                                <div hidden><b>Data:</b> <span id="outputData"></span></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save and Upload</button>
            </div>
        </form>
    </div>
</div>