<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js'></script>
    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.ui.min.js'></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    <!-- ? https://codepen.io/wisnust10/full/qZaPBY ? -->
    <script defer src="javascripts/devices-client.js"></script>
    <script defer src="javascripts/UI/bs-init.js"></script>
    <script defer src="javascripts/UI/theme.js"></script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/devices.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>

<body id="page-tops">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div id="sectionDevices">

                    <%- include('common/header')%>

                </div>
                <div id="lstDevices" style="margin-top: 90px;">
                    <h1 style="text-align: center;"><i class="badge badge-pill badge-warning">All Available Gardens</i>
                    </h1>

                    <%- include('devices/cardGarden') %>

                </div>

                <%- include('devices/modalConfig') %>

            </div>

            <%- include('common/footer')%>

        </div>
        <!-- <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a> -->

    </div>
</body>

</html>