<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script defer src="javascripts/home-client.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="stylesheets/home.css">

    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            ootstrap
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#lstDevices">
                        <i class="fas fa-plug"></i> Devices
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">
                        <i class="fas fa-address-card"></i> About
                    </a>
                </li>
            </ul>
            <button id="btnOut" type="button" class="btn btn-outline-danger">Log Out</button>
        </div>
    </nav>

    <div>
        <!-- Button trigger modal -->
        <button id="btnAdd" type="button" class="btn btn-block btn-outline-success" data-toggle="modal"
            data-target="#exampleModalScrollable">
            New Devices
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <form action="/home/newDevices" method="POST" id="formDevice" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">New Device Infomation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Details</legend>
                                <div class="row align-items-center input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Device Name</span>
                                    </div>
                                    <input required class="form-control" id="name" type="text" name="name"
                                        aria-label="Username" aria-describedby="addon-wrapping">
                                </div>

                                <div class="row align-items-center input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Location</span>
                                    </div>
                                    <input class="form-control" id="loc" type="text" name="loc">
                                </div>
                            </fieldset>

                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Firmware Configuration</legend>
                                <div class="row align-items-center input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">SSID</span>
                                    </div>
                                    <select required class="custom-select" id="inputGroupSelectSSID">
                                        <option selected>Choose...</option>
                                        <option>Other</option>
                                    </select>
                                    <!-- OR -->
                                    <input type="text" class="form-control d-none" id="showhideInputTextSSID"
                                        placeholder="Manual SSID">
                                </div>
                                <div id="show_hide_password" class="row align-items-center input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Password</span>
                                    </div>
                                    <input class="form-control" id="psk" type="password" name="psk">
                                    <div class="input-group-addon">
                                        <a><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="row align-items-center input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Port</span>
                                    </div>
                                    <select name="port" class="custom-select" id="inputGroupSelectPORT">
                                    </select>
                                </div>

                                <div class="row align-items-center input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Baudrate</span>
                                    </div>
                                    <select name="baud" class="custom-select" id="inputGroupSelectBAUD">
                                        <option>115200</option>
                                        <option>9600</option>
                                    </select>
                                </div>
                                <div class="row align-items-center input-group mb-3">
                                    <button type="button" class="btn btn-block btn-outline-primary"
                                        id="btnReSSID">Refresh</button>
                                </div>
                                <div class="progress row">
                                    <div id="progressCompiler"
                                        class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 0%"></div>
                                </div>
                                <div class="row align-items-center input-group mb-3">
                                    <p id="compilerLog"></p>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save and Upload to ESP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="custom-control custom-switch" id="demoSw">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
    </div>

    <div id="lstDevices">
        <h2>Available Devices</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Locat</th>
                </tr>
            </thead>
            <tbody>
                <% count = 0 %>
                <% snap.forEach(function(child){ %>
                <tr>
                    <th scope="row"><%= ++count%></th>
                    <td><%= child.key %></td>
                    <td><i class="fas fa-check"></i> Online</td>
                    <td><%= child.val()['loc'] %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div class="center-block">
</body>



</html>