<link rel="stylesheet" href="stylesheets/loader.css">
<script defer src="javascripts/UI/loader.js"></script>

<nav class="fixed-top navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">

        <!-- Start Page Loading -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End Page Loading -->


        <!-- <a class="navbar-brand" href="#">Brand</a> -->
        <a href="">
            <img width="250" height="45" src="images/banner.png" alt="banner">
        </a>
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item dropdown navHome">
                <!-- <a onclick="ajStart()" class="nav-link" href="/"> -->
                <!-- <i class="fas fa-chart-line"></i>
                    <span>&nbsp;Dashboard</span> -->
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-chart-line"></i>
                    <span>&nbsp;Dashboard</span>
                </a>
                <div class="dropdown-menu">
                    <% let index=0; %>
                        <!-- https://firebase.google.com/docs/reference/js/firebase.database.DataSnapshot#foreach ?-->
                        <% objGardenInfo.forEach(child=> { %>
                            <a class="dropdown-item" href="home?gardenId=<%- child.val().gardenId %>">
                                <%= child.val().gardenName %>
                            </a>
                            <div class="dropdown-divider"></div>
                            <% ++index; }) %>
                </div>

                <!-- </a> -->
            </li>
            <li class="nav-item navDevices"><a onclick="ajStart()" class="nav-link" href="/devices"><i
                        class="fas fa-microchip"></i><span>&nbsp;Devices</span></a></li>
            <!-- <li class="nav-item navProfile"><a onclick="ajStart()" class="nav-link" href="#"><i
                        class="fas fa-user-circle"></i><span>&nbsp;Profile</span></a></li> -->
            <li class="nav-item">
                <button id="btnOut" class="nav-link" style="border: none; background-color: #fff;">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>&nbsp;Logout</span>
                </button>
            </li>
        </ul>
    </div>
</nav>

<script>
    $("#btnOut").on('click', () => {
        location.href = "/sessionLogout"; // to index-server
    });
    switch (window.location.pathname) {
        case "/home":
            $("li.navHome i").remove();
            $("li.navHome span").prepend('<img src="images/pie_chart.svg" width="40px" height="40px">');
            break;

        case "/devices":
            $("li.navDevices i").remove();
            $("li.navDevices span").prepend('<img src="images/video_card.svg" width="40px" height="40px">');
            break;

        default:
            break;
    }

    $(() => {
        // use global socketIO <socket> var declare in <home-client.js>
        socket.emit("regBrowser", "<%= objGardenInfo.key %>");
        // on camera init error >> change <outputMessage> in <cardGarden.ejs>
        socket.on("errBrowserEnCam", status => {
            if (window.location.pathname == "/devices")
                outputMessage.innerHTML = status;
            else if (window.location.pathname == "/home")
                console.error(status);
        })
    });
</script>